/* 


Основной шрифт Open Sans 700, 600, 400
шрифт заголовка Raleway 700,
основной цвет текст #555555;
цвет заглавий #303030;
основной цвет белого текста #FFFFFF;
серый цвет текста #9DA4BD;
серый цвет с прозрачностью rgba(157, 164, 189, 0.4);
акцентный цвет #FF6C00; 

основной цвет фона #FFFFFF;
второстипенный цвет фона #F7F7F7;
черный цвет фона #191C26;

overlay background: rgba(25, 28, 38, 0.2);
transform: matrix(-1, 0, 0, 1, 0, 0);

*/

:root {
  --primary-text-color: #555555;
  --title-color: #303030;
  --primary-white-text-color: #ffffff;
  --grey-text-color: #9da4bd;
  --grey-text-rgba: rgba(157, 164, 189, 0.4);

  --accent-color: #ff6c00;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
  --black-bg-color: #191c26;
  --cubic-brizer: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.02em;
  line-height: calc(30 / 18);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px dotted tomato; */
}

.list,
.link {
  text-decoration: none;
  list-style: none;
}

.title {
  color: var(--title-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.subtitle {
  display: flex;
  align-items: center;
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtitle::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  padding: 12px;
  min-width: 160px;
  transition: background-color 250ms var(--cubic-brizer), color 250ms var(--cubic-brizer);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-image {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* header */

.heder-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 132px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.header-content-second {
  margin-left: auto;
  padding-right: 20px;
}

.header-nav + .header-nav {
  margin-left: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.header-nav-link,
.tel-link {
  color: var(--primary-white-text-color);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  transition: color 250ms var(--cubic-brizer);
}

.header-nav-link:hover,
.header-nav-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.header-nav-link {
  position: relative;
  display: block;
  padding: 52px 0;
}

.header-nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 4px;
  opacity: 0;
  transform: scaleX(0.2);
  transition: opacity 250ms var(--cubic-brizer), transform 250ms var(--cubic-brizer);
}

.header-nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.header-button {
  color: var(--primary-white-text-color);
  margin-left: 30px;
}

.no-transparency {
  background-color: rgba(25, 28, 38, 0.5);
  backdrop-filter: blur(4px);
}

/* sidebar */

.sidebar-container {
  position: relative;
  padding-top: 27px;
  padding-bottom: 58px;
  width: 100px;
}

.sidebar-list {
  position: absolute;

  transform: rotate(-90deg);
  bottom: 175px;
  left: -65px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.social-link-before:before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

.social-link {
  display: flex;
  align-items: center;
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  transition: color 250ms var(--cubic-brizer);
}

.sidebar-link .social-link:hover,
.sidebar-link .social-link:focus {
  color: var(--accent-color);
}

/* hero */

.hero-container {
  position: relative;
  display: flex;

  background-repeat: no-repeat;
  background-position: right;
}
.hero-container-text {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 100px;
  background-color: #212121;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/slider-first.jpg);
  background-size: cover;
  background-position: center;
}

.hero-subtitle {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--grey-text-rgba);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
}

.hero-subtitle::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  color: var(--primary-white-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  margin-top: 20px;
}

.hero-text {
  color: var(--grey-text-color);
  font-size: 18px;
  margin-top: 20px;
  width: 357px;
}

.control-slider {
  position: absolute;
  bottom: 40px;
  right: 35px;

  display: flex;
  text-align: center;
  gap: 24px;
}

.control-back,
.control-forward {
  min-width: 60px;
  min-height: 24px;
  padding: 0;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  border: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  background-color: transparent;
}

.control-back {
  color: var(--grey-text-rgba);
  text-align: start;
  cursor: not-allowed;
}

.control-forward {
  border-bottom: 1px solid var(--primary-white-text-color);
  color: var(--primary-white-text-color);
  text-align: end;
}

/* about */

.text-slogan {
  font-size: 18px;
}

.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-right {
  flex-basis: 470px;
  position: relative;
}

.about-right .title,
.text-slogan,
.about-text {
  margin-top: 20px;
}

.about-button {
  margin-top: 42px;
}

.about-container {
  display: flex;
  gap: 30px;
}

/* price */

sup {
  top: -1.3em;
}

.section-price {
  background-color: var(--black-bg-color);
  text-align: center;
}

.price-overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-color: #111319;
  background-image: url(../images/price-bg.png);
}
.section-price .container {
  position: relative;
}

.section-price .subtitle {
  color: var(--grey-text-rgba);
  text-align: start;
}

.section-price .title {
  color: var(--primary-white-text-color);
  margin-top: 20px;
  text-align: start;
}

.price-text {
  color: var(--grey-text-color);
  font-size: 18px;
}

.price-button {
  color: var(--primary-white-text-color);
  margin-top: 44px;
  text-align: center;
}

.price-container {
  display: flex;
  gap: 30px;
  margin-top: 44px;
}

.price-container-first,
.price-container-second {
  flex-basis: 570px;
}
.price-container-first {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-container-second {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list {
  display: flex;
  justify-content: space-between;
}

.price-list + .price-list {
  margin-top: 20px;
}

.price-container .list {
  padding: 30px 20px;
}

/* our feature  */

.feature-container {
  display: flex;
  gap: 130px;
  padding-left: 100px;
  padding-right: 70px;
}

.feature-list {
  background-color: var(--secondary-bg-color);
  text-align: center;
  display: block;
  padding: 20px 24px;
  width: 170px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.grid-first {
  grid-area: 1 / 1 / 3 / 2;
}
.grid-second {
  grid-area: 3 / 1 / 5 / 2;
}
.grid-third {
  grid-area: 2 / 2 / 4 / 3;
}
.grid-fourth {
  grid-area: 4 / 2 / 6 / 3;
}

.numeric {
  color: var(--title-color);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
}

.plus {
  color: var(--accent-color);

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
}

.feature-text {
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
}

.feature-paragraph {
  font-size: 18px;
  margin-top: 20px;
}

.section-feature .title {
  margin-top: 20px;
}

.feature-content-second {
  position: relative;
  width: 500px;
}

/* our barbers  */

.section-barbers {
  background-color: var(--secondary-bg-color);
}

.section-barbers .container {
  position: relative;
}

.section-barbers .title {
  margin-top: 20px;
}

.person {
  color: var(--title-color);
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: calc(25 / 18);
  margin-top: 30px;
  text-align: center;
}

.vocation {
  color: var(--accent-color);
  margin-top: 8px;
  text-align: center;

  font-size: 14px;
  line-height: calc(19 / 14);
}

.barbers-list {
  display: flex;
  gap: 30px;
  margin-top: 44px;
}

.social-barber-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
}

.social-barber-link:hover .social-icon,
.social-barber-link:focus .social-icon {
  fill: var(--accent-color);
}

.social-box {
  margin-top: 30px;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-icon {
  fill: var(--title-color);
  transition: fill 250ms var(--cubic-brizer);
}

/* portfolio */

.portfolio-list {
  display: flex;
  gap: 30px;
  margin-top: 44px;
  cursor: pointer;

  /* perspective: 200px; */
}

.portfolio-card {
  overflow: hidden;
  transform: rotateY(0);
  transition: transform 250ms var(--cubic-brizer);
}

/* .portfolio-list:hover .portfolio-card {
  transform: rotateY(180deg);
} */

.portfolio-card:hover {
  /* transform: scale3d(1.5, 1.5, 1.5); */
  transform: rotateY(180deg);
}

.section-portfolio .container {
  position: relative;
}

/* online-booking */

.section-contacts {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/bgcont.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left calc(50% + 397px) center;
}

.contacts-container {
  display: flex;
  gap: 30px;
}

.container-booking {
  flex-basis: 570px;
  padding-top: 130px;
  padding-bottom: 120px;
}

.booing-title {
  color: var(--primary-white-text-color);
}

.button-booking {
  margin-top: 44px;
  color: var(--primary-white-text-color);
}

.booking-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.booking-form {
  margin-top: 44px;
}
.booking-form-group {
  display: flex;
  gap: 30px;
}

.booking-form-field,
.booking-form-massage {
  position: relative;
  display: block;
}

.booking-form-field {
  flex-basis: 270px;

  border-bottom: 1px solid var(--grey-text-rgba);
}

.booking-form-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: transparent;
}

.booking-form-label {
  position: absolute;

  left: 0;
  bottom: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey-text-rgba);
}

.booking-form-massage {
  margin-top: 44px;
}

.booking-form-massage .booking-form-label {
  top: 0;
}

.booking-form-textarea {
  width: 570px;
  border: none;
  border-bottom: 1px solid var(--grey-text-rgba);
  background-color: transparent;
  outline: transparent;
}

textarea {
  resize: none;
}

/* contacts */

.contacts-title {
  color: var(--primary-white-text-color);
}

.container-contacts {
  flex-basis: 570px;
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}

.city {
  font-weight: 700;
  font-size: 18px;
}

.address {
  margin-top: 40px;
}

.address .link {
  font-style: normal;
  color: var(--grey-text-color);
}

.address-link {
  display: flex;
  align-items: center;
}

.address-icon {
  margin-right: 20px;
}

.address-icon-top {
  align-self: baseline;
}

.contacts-link + .contacts-link {
  margin-top: 20px;
}

.contacts-mail {
  text-decoration-line: underline;
}

.contacts-subtitle {
  color: var(--primary-white-text-color);
  margin-top: 70px;
}

.shedule {
  color: var(--grey-text-color);
  margin-top: 20px;
}

/* footer */

.footer {
  padding-top: 53px;
  padding-bottom: 53px;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: auto;
}

.copyright {
  color: var(--grey-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
}
