/* 


Основной шрифт Open Sans 700, 600, 400
шрифт заголовка Raleway 700,
основной цвет текст #555555;
цвет заглавий #303030;
основной цвет белого текста #FFFFFF;
серый цвет текста #9DA4BD;
серый цвет с прозрачностью rgba(157, 164, 189, 0.4);
акцентный цвет #FF6C00; 

основной цвет фона #FFFFFF;
второстипенный цвет фона #F7F7F7;
черный цвет фона #191C26;

overlay background: rgba(25, 28, 38, 0.2);
transform: matrix(-1, 0, 0, 1, 0, 0);

*/

:root {
  --primary-text-color: #555555;
  --title-color: #303030;
  --primary-white-text-color: #ffffff;
  --grey-text-color: #9da4bd;
  --grey-text-rgba: rgba(157, 164, 189, 0.4);
  --accent-color: #ff6c00;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
  --black-bg-color: #191c26;
  --cubic-brizer: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.02em;
  line-height: calc(30 / 18);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px dotted tomato; */
}

.list,
.link {
  text-decoration: none;
  list-style: none;
}

.title {
  color: var(--title-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.subtitle {
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
}

/* .subtitle::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 60px;
  top: 0;
  left: 0;

  background: #303030;
} */

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  padding: 12px;
  min-width: 160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-image {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* header */

.heder-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.header-content-first {
  margin-left: 100px;
}

.header-content-second {
  margin-left: auto;
}

.header-nav + .header-nav {
  margin-left: 30px;
}

.header,
.section-hero {
  background-color: #ccc;
}

.nav-link,
.tel-link {
  color: var(--primary-white-text-color);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  transition: color 250ms var(--cubic-brizer);
}

.nav-link:hover,
.nav-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* .nav-link {
  padding-top: 52px;
} */

.header-button {
  color: var(--primary-white-text-color);
  margin-left: 30px;
}

.header {
  padding-top: 53px;
}

/* sidebar */

.social-link {
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  transition: color 250ms var(--cubic-brizer);
}

.sidebar .social-link:hover,
.sidebar .social-link:focus {
  color: var(--accent-color);
}

/* hero */

.hero-subtitle {
  color: var(--grey-text-rgba);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
}

.hero-title {
  color: var(--primary-white-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
}

.hero-text {
  color: var(--grey-text-color);
  font-size: 18px;
}

.control-back,
.control-forward {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
}

.control-back {
  color: var(--grey-text-rgba);
}

.control-forward {
  color: var(--primary-white-text-color);
}

/* about */

.text-slogan {
  font-size: 18px;
}

.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-right {
  flex-basis: 470px;
  position: relative;
}

.about-right .title,
.text-slogan,
.about-text {
  margin-top: 20px;
}

.about-button {
  margin-top: 42px;
}

.about-container {
  display: flex;
  gap: 30px;
}

/* price */

sup {
  top: -1.3em;
}

.section-price {
  background-color: var(--black-bg-color);
  text-align: center;
}

.price-overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/price-bg.png);
}
.section-price .container {
  position: relative;
}

.section-price .subtitle {
  color: var(--grey-text-rgba);
  text-align: start;
}

.section-price .title {
  color: var(--primary-white-text-color);
  margin-top: 20px;
  text-align: start;
}

.price-text {
  color: var(--grey-text-color);
  font-size: 18px;
}

.price-button {
  color: var(--primary-white-text-color);
  margin-top: 44px;
  text-align: center;
}

.price-container {
  display: flex;
  gap: 30px;
  margin-top: 44px;
}

.price-container-first,
.price-container-second {
  flex-basis: 570px;
}
.price-container-first {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-container-second {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list {
  display: flex;
  justify-content: space-between;
}

.price-list + .price-list {
  margin-top: 20px;
}

.price-container .list {
  padding: 30px 20px;
}

/* our feature  */

.feature-container {
  display: flex;
  gap: 130px;
  padding-left: 100px;
  padding-right: 70px;
}

.feature-list {
  background-color: var(--secondary-bg-color);
  text-align: center;
  display: block;
  padding: 20px 24px;
  width: 170px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.grid-first {
  grid-area: 1 / 1 / 3 / 2;
}
.grid-second {
  grid-area: 3 / 1 / 5 / 2;
}
.grid-third {
  grid-area: 2 / 2 / 4 / 3;
}
.grid-fourth {
  grid-area: 4 / 2 / 6 / 3;
}

.numeric {
  color: var(--title-color);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
}

.plus {
  color: var(--accent-color);

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
}

.feature-text {
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
}

.feature-paragraph {
  font-size: 18px;
  margin-top: 20px;
}

.section-feature .title {
  margin-top: 20px;
}

.feature-content-second {
  position: relative;
  width: 500px;
}

/* our barbers  */

.section-barbers {
  background-color: var(--secondary-bg-color);
}

.section-barbers .container {
  position: relative;
}

.section-barbers .title {
  margin-top: 20px;
}

.person {
  color: var(--title-color);
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: calc(25 / 18);
  margin-top: 30px;
  text-align: center;
}

.vocation {
  color: var(--accent-color);
  margin-top: 8px;
  text-align: center;

  font-size: 14px;
  line-height: calc(19 / 14);
}

.barbers-list {
  display: flex;
  gap: 30px;
  margin-top: 44px;
}

/* .barber-card {
  flex-basis: calc(100% - 2 * 30) / 3;
} */

.social-barber-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
}

.social-barber-link:hover .social-icon,
.social-barber-link:focus .social-icon {
  fill: var(--accent-color);
}

.social-box {
  margin-top: 30px;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-icon {
  fill: var(--title-color);
  transition: fill 250ms var(--cubic-brizer);
}

/* portfolio */

.portfolio-list {
  display: flex;
  gap: 30px;
  margin-top: 44px;
}

.section-portfolio .container {
  position: relative;
}

/* online-booking */
.container-booking-contacts {
  display: flex;
}

.section-booking {
  background-color: var(--black-bg-color);
}

.section-booking .title {
  color: var(--primary-white-text-color);
}

.button-booking {
  color: var(--primary-white-text-color);
}

.text-booking {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* contacts */

.contacts {
  display: flex;
}

.section-contacts {
  background-color: var(--black-bg-color);
}

.section-contacts .about-container {
  position: relative;
}

.section-contacts .title {
  color: var(--primary-white-text-color);
}

/* footer */

.footer {
  padding-top: 53px;
  padding-bottom: 53px;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.address .link {
  font-style: normal;
  color: var(--grey-text-color);
}

.city {
  font-weight: 700;
  font-size: 18px;
}

.footer-mail {
  text-decoration-line: underline;
}

.section-contacts .subtitle {
  color: var(--primary-white-text-color);
}

.shedule {
  color: var(--grey-text-color);
}

.copyright {
  color: var(--grey-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
}
