/* 


Основной шрифт Open Sans 700, 600, 400
шрифт заголовка Raleway 700,
основной цвет текст #555555;
цвет заглавий #303030;
основной цвет белого текста #FFFFFF;
серый цвет текста #9DA4BD;
серый цвет с прозрачностью rgba(157, 164, 189, 0.4);
акцентный цвет #FF6C00; 

основной цвет фона #FFFFFF;
второстипенный цвет фона #F7F7F7;
черный цвет фона #191C26;

overlay background: rgba(25, 28, 38, 0.2);
transform: matrix(-1, 0, 0, 1, 0, 0);






*/
:root {
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
}

.list,
.link {
  text-decoration: none;
  list-style: none;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
