// base

@import './base/normalize';

// utils

@import './utils/variables';
@import './utils/common-styles';
@import './utils/visually-hidden';
@import './utils/animation';
@import './utils/mixin';

// components

@import './components/button';
@import './components/title';
@import './components/subtitle';
@import './components/header';
@import './components/nav';
@import './components/button-header';
@import './components/sidebar';
@import './components/social-link';
@import './components/hero';
@import './components/control';
@import './components/about';
@import './components/price';
@import './components/button-price';
@import './components/feature';
@import './components/barbers';
@import './components/social-box';
@import './components/portfolio';
@import './components/our-contacts';
@import './components/booking';
@import './components/booking-form';
@import './components/button-booking';
@import './components/contacts';
@import './components/address';
@import './components/footer';
@import './components/backdrop';
@import './components/modal';
@import './components/close-button';
@import './components/mobile-menu';
@import './components/modal-form';
