.about__container {
  @media screen and( min-width: 768px) {
    display: flex;
    gap: 30px;
  }
}

.about__list {
  display: flex;
  gap: 30px;

  @media screen and( max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }
}

.about__item {
  overflow: hidden;
}
.about__image {
  transition: transform 500ms;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
}

.about__item:hover .about__image {
  transform: scale(1.2);
}

.about-right {
  position: relative;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 330px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 470px;
  }
}

.about__slogan {
  font-size: 18px;
}

.about__text {
  font-size: 14px;
  line-height: calc(26 / 14);
}

.about__title,
.about__slogan,
.about__text {
  margin-top: 20px;
}

.about__title {
  @media screen and (max-width: 767px) {
    flex-basis: 306px;
  }
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: calc(33 / 28);
  }
}

.about__slogan {
  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: calc(26 / 16);
  }
}

.button__about {
  margin-top: 42px;
}
