.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  transition: opacity 250ms linear;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;

  pointer-events: none;
}
