.barbers {
  background-color: $secondary-bg-color;
}

.barbers__container {
  position: relative;
}

.barbers__title {
  margin-top: 20px;
}

.barbers__name {
  color: $title-color;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: calc(25 / 18);
  margin-top: 30px;
  text-align: center;
}

.barbers__vocation {
  color: $accent-color;
  margin-top: 8px;
  text-align: center;

  font-size: 14px;
  line-height: calc(19 / 14);
}

.barbers-list {
  display: flex;
  gap: 30px;
  margin-top: 44px;
}
