.contacts {
  flex-basis: 570px;
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}

.contacts__title {
  color: $primary-white-text-color;
}

.contacts__subtitle {
  color: $primary-white-text-color;
  margin-top: 70px;
}

.contacts__shedule {
  color: $grey-text-color;
  margin-top: 20px;
}
