.contacts {
  @media screen and (max-width: 767px) {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 570px;
    padding-top: 130px;
    padding-bottom: 120px;
    padding-left: 100px;
  }
}

.contacts__title {
  color: $primary-white-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.contacts__subtitle {
  color: $primary-white-text-color;

  &::before {
    background-color: rgba(157, 164, 189, 0.4);
  }
}

.contacts__shedule {
  color: $grey-text-color;
  margin-top: 20px;
}

.contacts__container {
  margin-top: 40px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    gap: 150px;
  }
}

.contacts__container--hours {
  @media screen and (max-width: 767px) {
    margin-top: 44px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 70px;
  }
}
