.feature__container {
  display: flex;

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1200px) {
    gap: 130px;
    padding-left: 100px;
    padding-right: 70px;
  }
}

.feature__item {
  background-color: $secondary-bg-color;
  text-align: center;
  display: block;
  padding: 20px 24px;
  max-width: 193px;

  @media screen and (min-width: 768px) {
    width: 210px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  &__first {
    grid-area: 1 / 1 / 3 / 2;
  }
  &__second {
    grid-area: 3 / 1 / 5 / 2;
  }
  &__third {
    grid-area: 2 / 2 / 4 / 3;
  }
  &__fourth {
    grid-area: 4 / 2 / 6 / 3;
  }
}

.numeric {
  color: $title-color;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
}

.plus {
  color: $accent-color;

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
}

.numeric__text {
  color: $title-color;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
}

.feature__container--second {
  position: relative;

  @media screen and (min-width: 768px) {
    flex-basis: 500px;
  }
}

.feature__container--first {
  @media screen and (max-width: 1199px) {
    margin-top: 44px;
    flex-basis: 450px;
    margin-left: auto;
  }
}

.feature__title {
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 44px;
    font-size: 40px;
  }
}

.feature__text {
  font-size: 18px;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    flex-basis: 418px;
  }
}
