.menu-container {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 337px;
  height: 100%;
  background-color: $primary-white-text-color;
  transform: translateX(100%);

  transition: transform 250ms linear;
  padding: 118px 95px 227px 40px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.button-menu__close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 48px;
  right: 31px;
}

.menu__link,
.menu-contact__link {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);

  letter-spacing: 0.1em;
  color: $title-color;

  &:hover {
    color: $accent-color;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.button__menu {
  padding: 12px 37px;
}

.menu__info {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.menu-sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
}
