.nav {
  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and(min-width:768px) {
    margin-left: 60px;
  }
  @media screen and(min-width:1200px) {
    margin-left: 132px;
  }
}

.nav__list {
  display: flex;
  align-items: center;

  @media screen and(min-width:768px) and(max-width:1199px) {
    gap: 16px;
  }
}

.nav__item + .nav__item {
  @media screen and(min-width:1200px) {
    margin-left: 30px;
  }
}

.nav__link {
  position: relative;
  display: block;
  padding: 52px 0;

  color: $primary-white-text-color;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  transition: color 250ms $cubic-brizer;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    opacity: 0;
    transform: scaleX(0.2);
    transition: opacity 250ms $cubic-brizer, transform 250ms $cubic-brizer;
  }

  &:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
}
