.portfolio__container {
  position: relative;
}

.portfolio__list {
  display: flex;
  gap: 30px;
  margin-top: 44px;
  cursor: pointer;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.portfolio__item {
  overflow: hidden;
  text-align: center;

  transition: transform 250ms $cubic-brizer, box-shadow 250ms $cubic-brizer;
  transform-origin: 50% 0;
  transform: perspective(800px) rotateX(0deg) translateZ(0);

  &:hover {
    // transform: perspective(800px) rotateX(7deg) translateZ(0, -25px, 10px);
    transform: perspective(800px) rotateX(7deg) translate3d(0, -25px, 10px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}

.portfolio__img {
  margin-left: auto;
  margin-right: auto;
}
