sup {
  top: -1.3em;
}

.price__section {
  background-color: $black-bg-color;
  text-align: center;
}

.price__overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-color: #111319;
  background-image: url(../images/price/price-480@1x.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/price/price-480@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/price/price-768@1x.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/price/price-768@2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/price/price-1200@1x.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/price/price-1200@2x.png);
    }
  }
}

.price__container {
  position: relative;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.price__subtitle {
  color: $grey-text-rgba;
  text-align: start;
}

.price__title {
  color: $primary-white-text-color;
  margin-top: 20px;
  text-align: start;

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: calc(47 / 40);
  }
}

.price-container {
  margin-top: 44px;
  @media screen and (max-width: 1199px) {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    margin-top: 44px;
  }
}

.price-container__first,
.price-container__second {
  flex-basis: 570px;
}

.price-container__first {
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.price-container__second {
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price {
  padding: 30px 20px;
}

.price__text {
  color: $grey-text-color;
  font-size: 18px;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
}

.price__list {
  display: flex;
  justify-content: space-between;
}

.price__list + .price__list {
  margin-top: 20px;
}
