.subtitle {
  display: flex;
  align-items: center;
  color: $title-color;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: #303030;
  }
}
