@keyframes slider-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slider-to-right {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  60% {
    opacity: 1;
    transform: translateX(0);
    letter-spacing: 0.3em;
  }
  100% {
    transform: translateX(0);
    letter-spacing: 0.05em;
  }
}

@keyframes slider-to-top {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
