h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  // width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 767px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
